.task-card {
    color: white;
    padding: 12px 24px;
    width: 100%;
    border-radius: 8px;
    background-color: royalblue;
    justify-content: space-between;
}

.checked {
    text-decoration: line-through;
    opacity: 0.5;
}
